
@{
    ViewData["Title"] = "DisplayFavorite";
}

@model IEnumerable<FinalProject_Recipes.Models.FavoriteRecipes>

<h1 class="text-center" style="font-family:Bahnschrift;color:black;text-shadow:  -1px -1px 0 white, 1px -1px 0 white, 
    -1px 1px 0 white, 1px 1px 0 white">Favorite Recipes</h1>

@*<table class="table-dark" style="border-spacing: 15px 2px; border-collapse: separate; border-color: white;">
    <tr>
        <th><b><u>Favorites</u></b></th>
    </tr>
    @{ foreach (var recipe in Model)
        {
        <tr>
            <td>@recipe.RecipeName</td>
            <td><img src="@recipe.RecipeImage" alt="@recipe.RecipeName" width="100" height="100" /></td>
            <td>@Html.ActionLink("View Recipe", "ViewRecipe","Favorites", recipe)</td>
            
            <td>@Html.ActionLink("Remove From List", "RemoveFavorite", "Favorites", recipe)</td>
        </tr>
        }
    }

    
</table>*@
<div class="row" style="align-content:center;margin-left:120px;margin-right:100px">
    @foreach (var recipe in Model)
    {
        <div style="text-align:center">
            <div class="border-style">
                <div style="font-family:Bahnschrift;font-size:large;color:black;text-shadow:  -1px -1px 0 white, 1px -1px 0 white,
    -1px 1px 0 white, 1px 1px 0 white">
                    @recipe.RecipeName
                </div>
                <div>
                    <a title=" @recipe.RecipeName" href='@Url.Action("ViewRecipe", "Favorites", recipe)'>
                        <img src='@Url.Content(@recipe.RecipeImage)' width="200" style="margin:15px; border:solid;border-color:white;
                            border-width:10px" />
                    </a>
                </div>
                <div>
                    @Html.ActionLink("Remove From List", "RemoveFavorite", "Favorites", recipe)
                </div>
            </div>
        </div>
    }
</div>

<style>
    .border-style {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: medium;
        border: solid;
        border-color: transparent;
        border-width: thick;
        margin: 15px;
    }
</style>