
@{
    ViewData["Title"] = "ViewRecipe";
}


@model FinalProject_Recipes.Models.Recipe


@{
    @foreach (var item in Model.meals)
    {
        if (User.Identity.Name != null)
        {
            @Html.ActionLink("Remove from Favorites", "RemoveFavoriteByMeal", "Favorites", item)
        }
        <br />
        if (item.strMealThumb != null)
        {
            <img src="@item.strMealThumb" alt="@item.strMeal" width="400" height="400"/>
        }

        <h1><u>@item.strMeal</u></h1>
        <br />
        <table class="table-bordered">
            <tr>
                <td><b><u>Measurement</u></b></td>
                <td><b><u>Ingredient</u></b></td>
            </tr>

            @if (@item.strMeasure1 != "")
            {
                <tr>
                    <td>@item.strMeasure1</td>
                    <td>@item.strIngredient1</td>
                </tr>

            }
            @if (@item.strMeasure2 != "")
            {
                <tr>
                    <td>@item.strMeasure2</td>
                    <td>@item.strIngredient2</td>
                </tr>

            }
            @if (@item.strMeasure3 != "")
            {
                <tr>
                    <td>@item.strMeasure3</td>
                    <td>@item.strIngredient3</td>
                </tr>

            }
            @if (@item.strMeasure4 != "")
            {
                <tr>
                    <td>@item.strMeasure4</td>
                    <td>@item.strIngredient4</td>
                </tr>

            }
            @if (@item.strMeasure5 != "")
            {
                <tr>
                    <td>@item.strMeasure5</td>
                    <td>@item.strIngredient5</td>
                </tr>

            }
            @if (@item.strMeasure6 != "")
            {
                <tr>
                    <td>@item.strMeasure6</td>
                    <td>@item.strIngredient6</td>
                </tr>

            }
            @if (@item.strMeasure7 != "")
            {
                <tr>
                    <td>@item.strMeasure7</td>
                    <td>@item.strIngredient7</td>
                </tr>

            }
            @if (@item.strMeasure8 != "")
            {
                <tr>
                    <td>@item.strMeasure8</td>
                    <td>@item.strIngredient8</td>
                </tr>

            }
            @if (@item.strMeasure9 != "")
            {
                <tr>
                    <td>@item.strMeasure9</td>
                    <td>@item.strIngredient9</td>
                </tr>

            }
            @if (@item.strMeasure10 != "")
            {
                <tr>
                    <td>@item.strMeasure10</td>
                    <td>@item.strIngredient10</td>
                </tr>

            }
            @if (@item.strMeasure11 != "")
            {
                <tr>
                    <td>@item.strMeasure11</td>
                    <td>@item.strIngredient11</td>
                </tr>

            }
            @if (@item.strMeasure12 != "")
            {
                <tr>
                    <td>@item.strMeasure12</td>
                    <td>@item.strIngredient12</td>
                </tr>

            }
            @if (@item.strMeasure13 != "")
            {
                <tr>
                    <td>@item.strMeasure13</td>
                    <td>@item.strIngredient13</td>
                </tr>

            }
            @if (@item.strMeasure14 != "")
            {
                <tr>
                    <td>@item.strMeasure14</td>
                    <td>@item.strIngredient14</td>
                </tr>

            }
            @if (@item.strMeasure15 != "")
            {
                <tr>
                    <td>@item.strMeasure15</td>
                    <td>@item.strIngredient15</td>
                </tr>

            }
            @if (@item.strMeasure16 != "")
            {
                <tr>
                    <td>@item.strMeasure16</td>
                    <td>@item.strIngredient16</td>
                </tr>

            }
            @if (@item.strMeasure17 != "")
            {
                <tr>
                    <td>@item.strMeasure17</td>
                    <td>@item.strIngredient17</td>
                </tr>

            }
            @if (@item.strMeasure18 != "")
            {
                <tr>
                    <td>@item.strMeasure18</td>
                    <td>@item.strIngredient18</td>
                </tr>

            }
            @if (@item.strMeasure19 != "")
            {
                <tr>
                    <td>@item.strMeasure19</td>
                    <td>@item.strIngredient19</td>
                </tr>

            }
            @if (@item.strMeasure20 != "")
            {
                <tr>
                    <td>@item.strMeasure20</td>
                    <td>@item.strIngredient20</td>
                </tr>

            }

        </table>


        <p>@item.strInstructions</p>
        <p>@item.strTags</p>
        <p>@item.strArea</p>
        <p><a href=@item.strYoutube>@item.strYoutube</a></p>
        <p><a href=@item.strSource>@item.strSource</a></p>
    }
}

