@{
    ViewData["Title"] = "Home Page";
}
@model FinalProject_Recipes.Models.Recipe

<h1><u>Welcome to Eat This Not That</u></h1>
<h2>Here is a random recipe</h2>

<a href='@Url.Action("GetRandomRecipe", "Recipe")'>
    <img src='@Url.Content("~/Question mark plate.png")' width="500" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "American"})'>
    <img src='@Url.Content("~/USAFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "British"})'>
    <img src='@Url.Content("~/UkFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Canadian"})'>
    <img src='@Url.Content("~/CanadaFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Chinese"})'>
    <img src='@Url.Content("~/ChineseFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Dutch"})'>
    <img src='@Url.Content("~/NetherlandsFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Egyptian"})'>
    <img src='@Url.Content("~/EgyptFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "French"})'>
    <img src='@Url.Content("~/FrenchFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Greek"})'>
    <img src='@Url.Content("~/GreekFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Indian"})'>
    <img src='@Url.Content("~/IndianFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Irish"})'>
    <img src='@Url.Content("~/IrishFlag.jpg")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Italian"})'>
    <img src='@Url.Content("~/ItalianFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Jamaican"})'>
    <img src='@Url.Content("~/JamaicaFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Japanese"})'>
    <img src='@Url.Content("~/JapaneseFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Kenyan"})'>
    <img src='@Url.Content("~/KenyaFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Malaysian"})'>
    <img src='@Url.Content("~/MalaysianFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Mexican"})'>
    <img src='@Url.Content("~/MexicoFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Moroccan"})'>
    <img src='@Url.Content("~/MoroccanFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Russian"})'>
    <img src='@Url.Content("~/RussianFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Spanish"})'>
    <img src='@Url.Content("~/SpanishFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Thai"})'>
    <img src='@Url.Content("~/ThaiFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Tunisian"})'>
    <img src='@Url.Content("~/TunisianFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Turkish"})'>
    <img src='@Url.Content("~/TurkishFlag.png")' width="50" />
</a>
<a href='@Url.Action("SearchRecipesArea", "Recipe", new { search = "Vietnamese"})'>
    <img src='@Url.Content("~/VietnamFlag.png")' width="50" />
</a>