
@{
    ViewData["Title"] = "ViewGroup";
    var nameVariable = TempData["Name"]?.ToString();
    TempData.Keep();
}

@model IEnumerable<FinalProject_Recipes.Models.AspNetUsers>
       
       
    
 @Html.ActionLink("Go Back", "DisplayGroups", "Group")
    


<h1>View Group Members</h1>
@TempData["Name"] 
<table class="table">
    <tr>
        <th>Group Member</th>
        <th>Diet</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Diet</td>
            <td>@Html.ActionLink("View Favorite Recipes", "DisplayFriendFavorite", "Favorites", item)</td>
        </tr>
    }
</table>

<div class="action-link1">
 @Html.ActionLink("Go to Add Group", "ListGroups", "Group")
    </div>
@*@TempData["RegexMatch"]*@

<h1>Search By:</h1>
<form class="form1" action="/Group/SearchRecipesTitle" method="post">
    <h3>Title</h3>
    <input type="text" name="search" placeholder="Recipe" pattern="^[a-zA-Z]+[ a-zA-Z]*$" />
    <input type="hidden" name="groupName" value="@nameVariable" />
    <input type="submit" value="Search for Recipe" />
    <br />
    <br />
</form>

<style>
    @@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    h1{
        font-family: 'Raleway', sans-serif;
    }
    .form1{
        font-family: 'Raleway', sans-serif;
    }
    .table{
        font-family: 'Raleway', sans-serif;
    }
    .action-link1{
        font-family: 'Raleway', sans-serif;
    }

</style>

