
@{
    ViewData["Title"] = "ViewGroup";
    var nameVariable = TempData["Name"]?.ToString();
    TempData.Keep();
}

@model IEnumerable<FinalProject_Recipes.Models.AspNetUsers>
       
       
    
 @Html.ActionLink("Go Back", "DisplayGroups", "Group")
    


<h1>View Group Members</h1>

<table class="table">
    <tr>
        <th>Group Member</th>
        <th>Diet</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Diet</td>
            <td>@Html.ActionLink("View Favorite Recipes", "DisplayFriendFavorite", "Favorites", item)</td>
        </tr>
    }
</table>

 @Html.ActionLink("Go to Add Group", "ListGroups", "Group")
@*@TempData["RegexMatch"]*@

<h1><u>Search By:</u></h1>
<form action="/Group/SearchRecipesTitle" method="post">
    <h3>Title</h3>
    <input type="text" name="search" placeholder="Recipe" pattern="^[a-zA-Z]+[ a-zA-Z]*$" />
    <input type="hidden" name="groupName" value="@nameVariable" />
    <input type="submit" value="Search for Recipe" />
    <br />
    <br />
</form>

